.dark .about{
  background-color: #33057e;
}
.about .title{
  margin-top: 58px;
  text-shadow:
     -1px -1px 0 black,
      1px -1px 0 black,
     -1px  1px 0 black,
      1px  1px 0 black;
}
.dark .about .title{
  color: #fff;
}
.about-header{
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 150px;
}
.timeline{
  position: relative;
  max-width: 3000px;
  margin: 20px auto;
  
}
.aboutblock {
  position: relative;
  width: 45%;
  padding: 30px 20px;
  margin-bottom: 80px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  color: #fff;
  font-family: sans-serif;
  transition: filter 0.5s ease;

}
.aboutblock.left {
  text-align: left;
}

.aboutblock.right {
  text-align: left;
}
.left{
  left: 5%;
}
.right{
  left: 56%;
}
.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 1;
  border-radius: 50px;

  background: rgba(0, 0, 0, 0.308);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
.abouttext1 {
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: bold;
  color: rgb(226, 174, 4);
}

.abouttext2 {
  font-size: 18px;
  line-height: 1.6;
  color: #e0e0e0;
}
.dark .abouttext1{
    color: rgb(226, 174, 4);
    transition: 1s;
}

.dark .abouttext2{
    color: rgb(224, 224, 224);
    transition: 1s;
}
.timeline-marker {
  position: absolute;
  top: 50%;
  width: 115px;
  height: 6px;
  background: rgba(0, 0, 0, 0.308);
  z-index: 0;
  border-radius: 50px;
}

.timeline-marker.left {
  left: 50%;
  transform: translateY(-50%);
}

.timeline-marker.right {
  left: calc(50% - 115px);
  transform: translateY(-50%);
}
.dark .about .glass:hover{
filter: brightness(1.06);
}
.light .about .glass:hover{
filter: brightness(0.96);
}
.about .learnmore{
  margin-top: 25px;
  align-self:flex-end;
}
.light .about .learnmore{
  background:#00000065;
  color: black;
}