.dark .about{
  background-color: #33057e;
}
.about .title{
  font-size: 48px;
  margin-top: 16px;
  text-shadow:
     -1px -1px 0 black,
      1px -1px 0 black,
     -1px  1px 0 black,
      1px  1px 0 black;
}
.dark .about .title{
  color: #fff;
}
.about-header{
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 150px;
}
.timeline {
  position: relative;
  width: 100%;
}

.aboutblock {
  position: relative;
  width: 60%;
  height: 70%;
  padding: 30px 25px;
  margin-bottom: 80px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  transition: filter 0.5s ease;
}

.aboutblock.left {
  left: 5%;
  float: left;
  clear: both;
}

.aboutblock.right {
  right: 5%;
  float: right;
  clear: both;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.3);
  border-radius: 50px;
}
.abouttext1 {
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.abouttext2 {
  font-size: 18px;
  line-height: 1.6;
  color: #e0e0e0;
}
.dark .abouttext1{
    color: rgb(255, 255, 255);
    transition: 1s;
}

.dark .abouttext2{
    color: rgb(224, 224, 224);
    transition: 1s;
}
.dark .about .glass:hover{
filter: brightness(1.06);
}
.light .about .glass:hover{
filter: brightness(0.96);
}
.about .learnmore{
  margin-top: 25px;
  align-self:flex-end;
}
.light .about .learnmore{
  background:#00000065;
  color: black;
}
@media (max-width: 900px) {
  .aboutblock {
    width: 90% !important;
    float: none !important;
    margin: 0 auto 50px auto;
  }
  .aboutblock.left{
    left: 0%;
    right: 0%;
  }
  .aboutblock.right{
    left: 0%;
    right: 0%;
  }

  .timeline::after {
    left: 20px;
  }
}