.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.socialIcons{
    display: flex;
    gap: 20px;
    position: absolute;
    left: 189px;          
    top: 33%;            
    transform: translateY(-50%);
    flex-direction:row;
    z-index: 1000;
}
.socialIcon{
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.socialIcon:hover {
  transform: scale(1.15);
  opacity: 0.8;
}
.greeting{
    font-family: sans-serif;
    font-size: 36px;
    display: flex;
    position:absolute;
    left: 10%;
}
.introduction{
    font-family: sans-serif;
    font-size:  20px;
    display: flex;
    position:absolute;
    left: 10%;
    margin-top: 160px;
    max-width: 600px;
}
.dark{
    color: #fff;
}
.homebuttons {

    display: flex;
    gap: 20px;
    position:absolute;
    left: 10%;
    margin-top: 330px
}
.cvdownload {
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #0c7be4;
    color: white;
    border: none;
    border-radius: 50px;
    
}
.contactme {
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ffffff;
    color: #0c7be4;
    border: none,;
    border-radius: 50px;
    
}