.home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    gap: 20px;
    transition: 1s ease;
}
.socialIcons{
    display: flex;
    gap: 35px;
    position: absolute;           
    margin-top: -190px;
    flex-wrap: wrap;
    left: 10%;
    align-items: center;
}
.socialIcon{
    width: 50px;
    height: 50px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.socialIcon:hover {
    transform: scale(1.15);
    opacity: 0.8;
}
.greeting{
    font-family: sans-serif;
    font-size: 58px;
    display: flex;
    position:absolute;
}
.introduction{
    font-family: sans-serif;
    font-size:  20px;
    max-width: 600px;
    display: flex;
    position:absolute;
    margin-top: 160px;
    
}
.dark{
    background: linear-gradient(
    to bottom right, 
    #33057e 30%,      
    #000000 70%,    
    rgb(0, 0, 0) 100%
);
    color: #fff;
    transition: 1s;
}
.dark .introduction{
    color: rgb(163, 163, 163);
    transition: 1s;
}
.light{
    background: linear-gradient(
    to bottom right, 
    #a6edff 20%,      
    #ffffff 80%,    
    rgb(255, 255, 255) 100%
);
    color: black;
}
.light .introduction{
    color: rgb(63, 63, 63);
    transition: 1s;
}
.light .contactme{
background-image: linear-gradient(to bottom right,rgba(105, 8, 8, 0.35),#093363);
transition: 1s;
}
.light .cvdownload{
background-image: linear-gradient(to bottom right,rgba(105, 8, 8, 0.35),#0a5385);
transition: 1s; 
}
.homebuttons {
    display: flex;
    gap: 20px;
    margin-top: 410px;
    flex-wrap: wrap;
    position:absolute;
    left: 10%;
    align-items: center;
}
.cvdownload {
    font-family: sans-serif;
    font-size: 20px;
    padding: 15px 25px;
    cursor: pointer;
    color: rgb(224, 224, 224);
    border: none;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    background-image: linear-gradient(to bottom right,rgba(105, 8, 8, 0.35),#580ce4);   
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;

}

.cvdownload::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom right, rgba(18, 8, 105, 0.35), #000000);
    opacity: 0;
    transition: opacity 0.4s ease;
    transition: 1s;
    z-index: 0;
}

.cvdownload:hover::before {
    opacity: 0.4;
}

.btnIcon {
  width: 20px;
  height: 20px;
}
.contactme {
   font-family: sans-serif;
    font-size: 20px;
    padding: 15px 25px;
    cursor: pointer;
    color: rgb(224, 224, 224);
    border: none;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    background-image: linear-gradient(to top left,rgba(0, 0, 0, 0.35),#5e4294);
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}
.contactme::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom right, rgba(18, 8, 105, 0.35), #000000);
    opacity: 0;
    transition: opacity 0.4s ease;
    transition: 1s;
    z-index: 0;
}
.contactme:hover::before {
    opacity: 0.4;
}