*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: 1s;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 7%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    overflow: hidden;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);

}
.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.toggleicon{
    width: 45px;
    cursor: pointer;
}
.musicButton{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.logo{
    width: 160px;
    cursor: pointer;
}
ul{
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li{
    display: inline-block;
    margin: 0 15px;
    width: 80px;          
    height: 40px;          
    line-height: 40px;     
    text-align: center;    
    cursor: pointer;
}
ul li:hover{
    transform: scale(1.2);
    color: #4ca6fc;
    font-size: larger;
    opacity: 0.7;
}
.dark .navbar{
    background: rgba(15, 23, 42, 0.6);
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
