*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 7%;
}
.toggleicon{
    width: 45px;
}
.logo{
    width: 160px;
    cursor: pointer;
}
ul{
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}