*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: sans-serif;
  color: black;
}
.container{
  width: 100%;
  min-height: 100vh;
  background: #c8e1fa;
  transition: 0.5s;
}
.container.dark{
  background: #222;
}