body {
  margin: 0;
  overflow-x: hidden;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.dark{
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}
.container{
  width: 100%;
  min-height: 100vh;
  background: #0066CC;
}